body {
    color: black;
    font-family: 'Arial', sans-serif;
    background-color: rgb(20, 123, 80);
}

.poem {

    padding: 70px;
    background-color: rgb(166, 42, 194);
    border: 1px solid #9daf4c;
    text-align: center;
}

.author {
  
    text-align: center;
}

.title {
  
    text-align: center;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}