body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(20, 123, 80);
}

.poem {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding: 70px;
    background-color: rgb(166, 42, 194);
    border: 1px solid #9daf4c;
}

.author {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding: 70px;
}

.title {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding: 70px;
}